@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700;800;900&display=swap");

* {
  box-sizing: border-box;
}

html::-webkit-scrollbar {
  display: none;
}

body {
  font-family: "Montserrat", sans-serif;
  background-color: #f2f4f8;
  margin: 0 auto;
  max-width: 900px;
  box-sizing: border-box;
  color: #2c2c2c;
  font-size: 0.8rem;
}

@media (min-width: 1024px) {
  body {
    font-size: 1rem;
  }
}

a {
  text-decoration: none;
  display: block;
  color: #2c2c2c;
}

button {
  outline: none;
  border: none;
}

main {
  margin-bottom: 75px;
}

@media (min-width: 1024px) {
  main {
    margin-bottom: 95px;
  }
}

h4 {
  margin-top: 0;
}

.input,
.passwordInput,
.emailInput,
.nameInput,
.streetInput,
.townInput,
.pscInput,
.phoneInput,
.textarea {
  padding: 0 3rem;
  width: 100%;
  height: 3rem;
  background: #f2f4f8;
  border: 1px solid #e1e1e1;
  border-radius: 5px;
  outline: none;
  font-family: "Montserrat", sans-serif;
  font-size: 0.8rem;
}
@media (min-width: 1024px) {
  .input,
  .passwordInput,
  .emailInput,
  .nameInput,
  .streetInput,
  .townInput,
  .pscInput,
  .phoneInput,
  .textarea {
    padding: 0 5rem;
    font-size: 1rem;
  }
}

.pageContainer,
.offers,
.profile {
  margin: 1rem;
}

.pageContainer header {
  display: flex;
}

@media (min-width: 1024px) {
  .pageContainer,
  .offers,
  .profile {
    margin: 3rem;
  }
}

.loadingSpinnerContainer {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 5000;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loadingSpinner {
  width: 64px;
  height: 64px;
  border: 8px solid;
  border-color: #00cc66 transparent #00cc66 transparent;
  border-radius: 50%;
  animation: spin 1.2s linear infinite;
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.pageHeader {
  width: 100%;
  font-size: 1.3rem;
  font-weight: bold;
  text-align: center;
}

@media (min-width: 1024px) {
  .pageHeader {
    font-size: 1.5rem;
  }
}

.signInHeader {
  margin-top: 2rem;
}

.signInHeader p {
  margin-bottom: 3rem;
  font-size: 1.5rem;
}

@media (min-width: 1024px) {
  .signInHeader p {
    font-size: 2.5rem;
  }
}

.regHeader {
  margin-bottom: 20px;
}

.regHeader p {
  margin: 0;
  font-size: 1.5rem;
}

@media (min-width: 1024px) {
  .regHeader p {
    font-size: 2.5rem;
  }
}

.navbar {
  position: fixed;
  left: 0;
  bottom: 0;
  right: 0;
  height: 55px;
  background-color: #ffffff;
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 1px solid #e1e1e1;
}

@media (min-width: 1024px) {
  .navbar {
    height: 75px;
  }
}

.navbarNav {
  width: 100%;
  max-width: 900px;
  margin-top: 0.5rem;
  overflow-y: hidden;
}

.navbarListItems {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.navbarListItem {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.navbarListItemName,
.navbarListItemNameActive {
  margin-top: 0.25rem;
  margin-bottom: 0.5rem;
  font-size: 0.7rem;
  font-weight: 600;
  color: #8f8f8f;
}

@media (min-width: 1024px) {
  .navbarListItemName,
  .navbarListItemNameActive {
    font-size: 0.9rem;
  }
}

.navbarListItemNameActive {
  color: #2c2c2c;
}

.nameInput {
  margin-bottom: 2rem;
  background: url("./assets/svg/badgeIcon.svg") #f2f4f8 2.5% center no-repeat;
}

.streetInput {
  margin-bottom: 2rem;
  background: url("./assets/svg/streetIcon.svg") #f2f4f8 2.5% center no-repeat;
}

.townInput {
  margin-bottom: 2rem;
  background: url("./assets/svg/townIcon.svg") #f2f4f8 2.5% center no-repeat;
}

.pscInput {
  margin-bottom: 2rem;
  background: url("./assets/svg/pscIcon.svg") #f2f4f8 2.5% center no-repeat;
}

.phoneInput {
  margin-bottom: 2rem;
  background: url("./assets/svg/phoneIcon.svg") #f2f4f8 2.5% center no-repeat;
}

.emailInput {
  margin-bottom: 2rem;
  background: url("./assets/svg/personIcon.svg") #f2f4f8 2.5% center no-repeat;
}

.passwordInputDiv {
  position: relative;
}

.passwordInput {
  margin-bottom: 2rem;
  background: url("./assets/svg/lockIcon.svg") #f2f4f8 2.5% center no-repeat;
}

.showPassword {
  cursor: pointer;
  position: absolute;
  top: -4%;
  right: 1%;
  padding: 1rem;
}

.forgotPasswordLink {
  cursor: pointer;
  color: #00cc66;
  font-weight: 600;
  text-align: center;
}

.signInBar,
.signUpBar {
  margin-top: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: inherit;
}

.signInButton,
.signUpButton,
.signInText,
.signUpText {
  cursor: pointer;
}
@media (min-width: 1024px) {
  .signInBar,
  .signUpBar {
    justify-content: start;
  }
}

.signInText,
.signUpText {
  font-size: 1.2rem;
  font-weight: bold;
}

.signInButton,
.signUpButton {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 2rem;
  height: 2rem;
  background-color: #00cc66;
  border-radius: 50%;
}
@media (min-width: 1024px) {
  .signInButton,
  .signUpButton {
    margin-left: 3rem;
  }
}

.registerLink {
  color: #00cc66;
  font-weight: 600;
  text-align: center;
}

@media (min-width: 1217px) {
  .explore {
    margin-bottom: 10rem;
  }
}
@media (max-height: 536) {
  .explore {
    margin-bottom: 10rem;
  }
}

.profile {
  margin-bottom: 90px;
}

.profileHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logOut {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 34px;
  cursor: pointer;
  font-size: 0.8rem;
  font-weight: bold;
  color: #ffffff;
  background-color: #da201a;
  border-radius: 5px;
  box-shadow: 0 1px 4px 0 rgb(0 0 0 / 40%);
}

@media (min-width: 1024px) {
  .logOut {
    font-size: 1rem;
  }
}

/* Week styling */

.weekBox {
  margin: 0;
  padding: 0;
  list-style: none;
}

.weekDay {
  margin-bottom: 20px;
  padding: 20px 10px;
  list-style: none;
  background-color: #ffffff;
  border: 1px solid #e1e1e1;
  border-radius: 5px;
}

.weekDay p {
  margin-bottom: 0;
}

.dayList {
  margin-bottom: 20px;
  padding: 0;
}

.weekItem {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
}

.weekItemText {
  display: flex;
  align-items: center;
  width: 100%;
  height: 42px;
  font-weight: 500;
}

.weekItemPrice {
  display: flex;
  align-items: center;
  width: 60%;
  height: 34px;
}

.weekItemInput {
  position: relative;
  display: flex;
  justify-content: space-between;
  width: 40%;
  height: 34px;
}

.weekItemInput input {
  width: 40%;
  height: 100%;
  background: #f2f4f8;
  text-align: center;
  border: 1px solid #e1e1e1;
  border-radius: 5px;
}

.itemMinus,
.itemPlus {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 34px;
  height: 34px;
  background: #00cc66;
  color: #ffffff;
  cursor: pointer;
  border-radius: 30px;
  font-weight: bold;
  box-shadow: 0 1px 4px 0 rgb(0 0 0 / 40%);
}

.weekDayButtonBox {
  margin: 0;
}

.adminButtonBox {
  margin: 20px 0 10px;
}

.weekDayButton {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 34px;
  background-color: #00cc66;
  border-radius: 5px;
  font-size: 0.8rem;
  font-weight: bold;
  color: #ffffff;
  box-shadow: 0 1px 4px 0 rgb(0 0 0 / 40%);
  cursor: pointer;
}

@media (min-width: 1024px) {
  .weekDayButton {
    font-size: 1rem;
  }
}

/* View orders */

.orderDate {
  padding: 15px 0;
  text-align: center;
}

.orderItems {
  margin-top: 20px;
  padding: 20px 10px;
  background: #ffffff;
  border: 1px solid #e1e1e1;
  border-radius: 5px;
}

.orderItemBox {
  display: flex;
}

.orderItemInfoText {
  padding: 0 5px 10px;
  width: 60%;
}

.orderItemInfo {
  padding: 0 5px 10px;
  width: 20%;
}

.alignRight {
  display: flex;
  justify-content: flex-end;
}

/* Calendar */

.calendarBox {
  display: flex;
  justify-content: center;
  border: 1px solid #e1e1e1;
  border-radius: 5px;
  padding: 5px;
  background: #fff;
}

.react-calendar {
  width: 100% !important;
  border: 0 !important;
  font-family: "Montserrat", sans-serif !important;
}

.react-calendar__tile {
  line-height: 20px !important;
  border: 2px solid #ffffff !important;
  font-family: "Montserrat", sans-serif;
}

.react-calendar__tile--active {
  border: 2px solid #1087ff !important;
  background: #ffffff !important;
  color: #000000 !important;
}

.highlight {
  background: #00cc66 !important;
  color: #ffffff;
  border: 2px solid #00cc66 !important;
}

.react-calendar__tile--active.highlight {
  border: 2px solid #1087ff !important;
  background: #00cc66 !important;
  color: #ffffff !important;
}

.react-calendar__tile--now {
  background: #ffeaaf !important;
}

/* Profile */
.profileBox {
  padding: 20px 10px;
  background: #ffffff;
  border: 1px solid #e1e1e1;
  border-radius: 5px;
}

.profileBox input {
  margin: 10px 0;
  padding: 0 50px;
  width: 100%;
  height: 34px;
  border: 1px solid #e1e1e1;
  border-radius: 5px;
  font-size: 0.8rem;
}

@media (min-width: 1024px) {
  .profileBox input {
    font-size: 1rem;
  }
}

.profileBoxInput {
  margin: 10px 0 20px !important;
}

.adminLinkBox {
  margin: 20px 0;
  padding: 20px 10px;
  background: #ffffff;
  border: 1px solid #e1e1e1;
  border-radius: 5px;
}

.adminLink {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 34px;
  background: #1667ff;
  border-radius: 5px;
  color: #ffffff;
  font-weight: bold;
  font-size: 0.8rem;
  box-shadow: 0 1px 4px 0 rgb(0 0 0 / 40%);
}

@media (min-width: 1024px) {
  .adminLink {
    font-size: 1rem;
  }
}

.adminBox,
.userBox,
.deliveryBox,
.loginBox {
  margin: 0 0 20px;
  padding: 20px 10px;
  background: #ffffff;
  border: 1px solid #e1e1e1;
  border-radius: 5px;
}

.userHeaderBox {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.userHeader {
  width: 40%;
}

.userHeader h4 {
  margin: 0;
}

.userHeaderInputBox {
  width: 60%;
}

.userHeaderInputBox input {
  padding: 0 20px 0 40px;
  width: 100%;
  height: 34px;
  background: #f2f4f8;
  font-size: 0.8rem;
  background: url("./assets/svg/searchIcon.svg") #f2f4f8 2.5% center no-repeat;
  border: 1px solid #e1e1e1;
  border-radius: 5px;
}

.userHeaderInputBox input:focus-visible {
  outline-width: 0;
}

.userItem {
  display: flex;
  flex-wrap: wrap;
  padding: 5px 0;
  width: 100%;
}

.userItemName {
  font-weight: bold;
}

.userItemName,
.userItemPhone,
.userItemEmail {
  width: 100%;
}

.userItemStreet,
.userItemTown {
  width: 40%;
}

.userItemPsc {
  width: 20%;
}

/* Admin section */

.weekOfferBox {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.weekOfferDate,
.weekOfferDay {
  width: 50%;
}

.weekOfferDay {
  padding: 0 10px;
  font-weight: bold;
}

.weekOffer {
  width: 69%;
}

.weekOfferPrice {
  width: 29%;
}

.adminBox input {
  margin: 10px 0;
  padding: 0 10px;
  height: 34px;
  background: #f2f4f8;
  border: 1px solid #e1e1e1;
  border-radius: 5px;
  font-size: 0.8rem;
}

@media (min-width: 1024px) {
  .adminBox input {
    font-size: 1rem;
  }
}
